.main_wrap {
  height: 100%;
  width: 100%;
  &_containner {
    height: calc(100% - 100px);
    box-sizing: border-box;
    background-image: url('/images/plugins/05.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 15px 0 0 35px;
    color: #52aff6;
    & > div {
      width: calc(100% - 35px);
      height: calc(100% - 20px);
    }
  }
}