.login_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include bgImage('login/bg.jpg');
  .bg-bac {
    width: 1200px;
    height: 70%;
    @include bgImage('login/vivid.png');
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 80px;
    .login-div {
      width: 350px;
      height: 100%;
      float: right;
      .login_img {
        margin-top: 100px;
      }
      .in-input {
        width: calc(100% - 50px);
        height: 40px;
        float: left;
        margin: 40px 0 0 50px;
        border: 1px solid;
        @include css(border-color, $default_border_color);
        border-radius: 22.5px;
        font-size: 16px;
        @include css(background-color, $area_show_bg_color);
        .login_icon {
          float: left;
          margin: 7px 12px 0 20px;
        }
        .login-dw {
          width: calc(100% - 50px);
          float: left;
          margin-top: 5px;
          /deep/ .el-input__inner {
            background-color: transparent;
            font-size: 16px;
            border: none;
          }
        }
      }
      .login-btn {
        width: calc(100% - 50px);
        height: 40px;
        @include css(background-color, $btn_color);
        font-size: 18px;
        font-weight: bold;
        @include css(color, $area_show_bg_color);
        border-radius: 22.5px;
        box-shadow: 0 8px 12px 0 rgba(1, 158, 156, 0.3);
        float: left;
        margin: 50px 0 0 50px;
        text-align: center;
        line-height: 40px;
      }
      .login-btn:hover {
        @include css(background-color, $btn_color);
        cursor: pointer;
      }
    }
  }
}